.pages {
    padding: 15px;
    padding-bottom: 36px;
}

/* about page styling */
.bg {
    /* height: 85vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* object-fit: contain; */
}

.about {
    padding-bottom: 48px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    
}

.about-text {
    font-size: 24px;
    margin: 16px;
    width: 70%;
}

.about-image {
    height: 350px;
    border-radius: 40%;
}

.about-skill {
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    flex-wrap: wrap;
    /* background-color: #ddbea9; */
}
.about-skills {
    display: flex;
    /* flex-wrap: wrap; */
    /* max-width: 80%; */
    /* justify-content: flex-end; */
    justify-content: space-between;
    align-items: center;
    width: max-content;
    /* background-color: rgba(192, 192, 192, 1); */
    padding: 6px;
    margin: 10px 10px;
    border-radius: 4px;
    font-size: 16px;
    background-color: #9c6644;
    color: white;
}

/* portfolio page styling */
.portfolio {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* background-color:#d3d3d3; */
    /* opacity: 0.7; */
    width: 100%;
}

.project-header {
    font-size: 42px;
    font-weight: 800;
}

/* resume page styling */
.resume {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: #d3d3d3; */
}

.resume-title {
    font-size: 42px;
    font-weight: 800;
}

.experience {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    margin: 24px 0px;
    flex-direction: column;
}

.company {
    /* display: flex; */
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 24px;
}

.company-name {
    font-weight: 800;
}

.responsibilities {
    text-align: left;
    max-width: 80%;
    margin-top: -10px;
}

.dates {
    font-style: italic;
    margin-top: 5px;
}

.download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    /* background-color: rgba(192, 192, 192, 1); */
    background-color: #7f5539;
    padding: 6px;
    margin-right: 6px;
    border-radius: 4px;
    font-size: 16px;
}

.download-btn a {
    text-decoration: none;
    color: white;
}

.download-btn:hover {
    background-color: #9c6644;
}

/* styling contact page */

/* .contact {
    background-color: #e5e5e5;
} */
.contact-wrapper {
    max-width: 700px;
    margin: 50px auto;
    background: whitesmoke;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.contact-h1 {
    text-align: center;
    text-transform: uppercase;
    color: black;
    margin-bottom: 50px;
    font-size: 35px;
}

.address {
    display: flex;
    justify-content: space-around;
    text-align: center;
    /* color: blue; */
    margin-bottom: 50px;
}

.inner-address p {
    font-size: 20px;
}

/* .inner-address a:hover {
    background-color: white;
} */

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.contact-form-title {
    font-size: 24px;
    margin-bottom: 20px;
    /* color: brown; */
    text-align: center;
}

.contact-form-input {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contact-form-message {
    width: 100%;
    margin-bottom: 20px;
}

.form-input > input {
    width: 260px;
    padding: 10px 20px;
    outline: none;
    border: 0;
    border-radius: 25px;
}

.form-message > textarea {
    width: 95%;
    padding: 10px 20px;
    outline: none;
    border: 0;
    height: 80px;
    border-radius: 25px;
}

.form-button {
    border: 2px solid #fff;
    padding: 10px 20px;
    /* color: #fff; */
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 25px;
}

.form-button:hover {
    background: #fff;
    /* color: green; */
}

::-webkit-input-placeholder {
    color: black;
}

::-moz-input-placeholder {
    color:  black;
}

::-ms-input-placeholder {
    color:  black;
}


/* previous setup */

/* .contact-title {
    font-size: 42px;
    font-weight: 800;
}

.contact-container {
    border-radius: 5px; */
    /* background-color: #e5e5e5; */
    /* padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    flex-wrap: wrap;
    
} */

/* .contact-form {
    display: flex;
    justify-content: space-around;
    flex: 1;
    
}

.col-25 { */
    /* float: left; */
    /* width: 25%;
    margin-top: 6px;
} */

/* .col-75 { */
    /* float: left; */
    /* width: 50%;
    margin-top: 6px;
}

.text-area-input {
    height: 200px;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

button[type=submit] {
    background-color: #7f5539;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; */
    /* float: left; */
/* }
  
button[type=submit]:hover {
    background-color: #9c6644;
} */


/* media querries */
@media only screen and (max-width: 720px) {
    .about {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .about-image {
        height: 280px;

    }

    .about-text {
        font-size: 18px;
        width: 100%;
    }

    .about-skills {
        flex-direction: column;
        max-width: 100%;
    }

    .download-btn {
        font-size: 10px;
    }

    .col-25, .col-75, button[type=submit] {
        width: 90%;
        margin-top: 0;
    }

    .contact-form-input {
        flex-direction: column;
    }

    .form-input:first-child > input {
        margin-bottom: 20px;
    }

    .contact-form .form-input > input {
        width: 95%;
    }

    .address {
        flex-direction: column;
        align-items: center;
    }

    .inner-address {
        margin-bottom: 10px;
    }
}