.header {
    display:flex;
    justify-content: space-between;
    flex: 1;
    padding: 15px;
    position: relative;
    /* position: sticky; */
    top: 0;
    align-items: center;
    /* background-color: rgba(192, 192, 192, 1); */
    background-color: #e5e5e5;
    /* background-color: transparent; */
    height: 50px;
    margin-bottom: 20px;
}

.head {
    display: flex;
    font-weight: 900;
    font-size: 40px;
    /* color: burlywood; */
    
}

.head a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 720px) {
    .head {
        font-size: 24px;
    }
}