.header {
    display:flex;
    justify-content: space-between;
    flex: 1;
    padding: 15px;
    position: relative;
    /* position: fixed; */
    align-items: center;
    /* background-color: rgba(192, 192, 192, 1); */
    /* background-color: #cb997e; */
}

.head {
    display: flex;
    font-weight: 900;
    font-size: 40px;
    /* color: burlywood; */
}

@media screen and (max-width: 720px) {
    .head {
        font-size: 24px;
    }
}